.bar {
  fill: $barcolor;
}

.bar:hover {
  fill: $barHoverColor;
}

.axis {
  font: $axisFontSize $axisFont;

  path, line {
  	fill: none;
  	stroke: $axisColor;
  	shape-rendering: crispEdges;
  }
}

.tick {
	fill: $axisTextColor;
}

.x.axis path {
  display: none;
}


$displayGrid: if($gridIsDisplayed, 1, none);

.grid {
    stroke: $gridColor;
    opacity: $gridOpacity;
    display: $displayGrid;
  
  path {
      stroke-width: 0;
    }
}

.tooltip {
  font: $tooltipFontSize $tooltipFont;
  position: absolute;
  width: $tooltipWidth;
  height: $tooltipHeight;
  pointer-events: none;
  border: $tooltipBorder;
  background: $tooltipBackground;
}
