.axis {

	font: $axisFontSize $axisFont;

	path, line {
		fill: none;
		stroke: $axisColor;
		shape-rendering: crispEdges;
	}
}

.tick {
	fill: $axisTextColor;
}

.dot {
	stroke: $dotColor;
}

$displayTooltip: if($tooltipIsDisplayed, 1, none);

.tooltip {
	font: $tooltipFontSize $tooltipFont;
	position: absolute;
	width: $tooltipWidth;
	height: $tooltipHeight;
	pointer-events: none;
	border: $tooltipBorder;
	background: $tooltipBackground;
	display: $displayTooltip;
}

$displayLegend: if($legendIsDisplayed, 1, none);

.legend {
	font: $legendFontSize $legendFont;
	display: $displayLegend;
	opacity: $legendOpacity;
}


$displayGrid: if($gridIsDisplayed, 1, none);

.grid {
    stroke: $gridColor;
    opacity: $gridOpacity;
    display: $displayGrid;
  
  path {
      stroke-width: 0;
    }
}

