// From beleidyBarGraph directory run as you edit this file
// sass --watch scss:css --style compressed

// Colors
$barcolor 			: #0288D1; 			// bars of the graph
$barHoverColor 		: #FF5722;			// bars when hovered over
$axisColor 			: #212121;			// axes' lines
$axisTextColor		: #212121;			// axes' text color

// Axis Labels
$axisFont			: sans-serif;
$axisFontSize		: 1rem;


.bar {
  fill: $barcolor;
}

.bar:hover {
  fill: $barHoverColor;
}

.axis {
  font: $axisFontSize $axisFont;

  path, line {
  	fill: none;
  	stroke: $axisColor;
  	shape-rendering: crispEdges;
  }
}

.tick {
	fill: $axisTextColor;
}

.x.axis path {
  display: none;
}

